// main: ../../main.scss

.sidebar__horizontal-line {
  border-bottom: 1px solid #e4e8eb;
  border-top: 1px solid white;
}

.sidebar {
  height: 100%;
}

.sidebar__header {}

.sidebar__navigation {
  border: 1px solid #eff3f6;
}

.sidebar__footer {
  padding-left: 30px;
  flex: 1 1 68px;
}

.sidebar__inner-wrapper {
  @include flex-column;
  padding-left: 30px;
  height: 94%;
}

.sidebar__header-wrapper {}
@media (min-width: 1424px) {
  .sidebar {
    @include flex-column;
  }

  .sidebar__header-wrapper {
    @include flex-column-center-center;
    align-items: stretch;
    height: 100%;
    flex-basis: 78%;
    padding-left: 3px;
  }

  .sidebar__navigation {
    flex: 100 100 600px;
  }

  .sidebar__header {
    @include flex-center;
    padding-top: 5px;
    flex: 1 1 66px;
  }
}
@media (max-width: 1423px) {
  .sidebar {
    @include flex-row;
  }

  .sidebar__header-wrapper {
    display: block;
  }

  .sidebar__header {
    display: block;
    flex: 0 0 150px;
  }

  .sidebar__navigation {
    display: block;
    flex: 1 1 700px;
  }

  .sidebar__footer {
    flex: 0 0 230px;
  }
}
