// main: ../../main.scss

.quick-access {}

.quick-access__list {
  @include reset_unordered_lists_styles();
  @include flex-row-space-between();
}

.quick-access__item_selected {
  box-shadow: 0 14px 24px rgba(106, 104, 104, 0.26);
}

.quick-access__item {
  @include cursor_pointer;
  margin: 10px;
  border-radius: 3px;

  &:last-child {
    margin-right: 0;
  }

  &:first-child {
    margin-left: 0;
  }

  &:hover {
    @extend .quick-access__item_selected;
  }
}
