// main: ../../main.scss

.video-tutorials {
  height: 100%;

  .video-tutorials__list {
    @include reset_unordered_lists_styles;
    //  @include flex-column-space-between;
    height: 100%;
    //padding: 10px;
    // li:not(:last-child){
    //   margin-bottom: 17px;
    // }
  }

  .video-tutorials__item {
    height: 100px;
    @include flex-column-center-center;
    align-items: stretch;
    margin-top: 9px;
    margin-bottom: 30px;
    //width: 90%;
    //padding: 10px;
  //  border: 1px solid red;
    width: 98%;
    //padding-right: 109px;

    &:last-child {
      margin-bottom: 0;
    }
  }
}
