// main: ../../main.scss

.video-tutorials {
  height: 100%;
}

.video-tutorials__list {
  @include reset_unordered_lists_styles;
  height: 100%;

}

.video-tutorials__item {
  @include flex-column-center-center;
  height: 100px;
  align-items: stretch;
  margin-top: 9px;
  margin-bottom: 30px;
  width: 98%;

  &:last-child {
    margin-bottom: 0;
  }

  //-----------------------------------
  box-shadow: 0 2px 5px rgba(106, 104, 104, 0.15);
  border-radius: 3px;
  background-color: #ffffff;
  //-----------------------------------
}
