// main: ../../main.scss

@mixin flex {
  display: flex;
}

@mixin flex-direction($direction) {
  @include flex;
  flex-direction: $direction;
}
@mixin justify-content($justify) {
  justify-content: $justify;
}
@mixin align-items($align) {
  align-items: $align;
}


@mixin flex-column {
  @include flex-direction(column);
}

@mixin flex-row {
  @include flex-direction(row);
}

@mixin flex-column-space-between {
  @include flex-column;
  @include justify-content(space-between);
}


@mixin flex-column-center {
  @include flex-column;
  @include justify-content(center);
}

@mixin  flex-row-space-between {
  @include  flex-row;
  @include justify-content(space-between);
}

@mixin  flex-row-space-around {
  @include  flex-row;
  @include justify-content(space-around);
}

@mixin  flex-row-center-center {
  @include  flex-row;
  @include justify-content(center);
  @include align-items(center);
}

@mixin  flex-column-center-center {
  @include  flex-column;
  @include justify-content(center);
  @include align-items(center);
}


@mixin  flex-center {
  @include  flex-row-center-center();
}
