// main: ../../main.scss
@mixin cursor_pointer() {
  cursor: pointer;
}

@mixin reset_button_styles() {
  @include  cursor_pointer;
  outline: none;
  background: none;
  border: none;
}
@mixin reset_input_styles() {
  border: none;
  background-image: none;
  background-color: transparent;
  box-shadow: none;
  border: none;

  &:focus {
    outline: none;
  }
}
@mixin reset_unordered_lists_styles() {
  list-style: none;
  padding: 0;
  margin: 0;
}
@mixin reset_text_styles() {
  font-weight: normal;
  font-style: normal;
  margin: 0;
  padding: 0;
}


@mixin cursor_pointer() {
  cursor: pointer;
}
