// main: ../../main.scss
//-------------------------------

.body-container {
  @include flex-row();
  //max-width: 1700px;
  flex-basis: 1700px;
}

.body-container__wrapper {
  @include flex-column();
  flex: 10 3 1550px;
  padding: 0 30px;
}

.body-container__aside {
  background-color: #eff3f6;
  flex: 1 1 250px;
  min-width: 250px;
}

.body-container__main {
  @include flex-row-space-between();
  flex-wrap: wrap;
}

.body-container__quick-access-section {
  flex: 1 1 100%;
}

.body-container__video-tutorials-section {
  padding-top: 5px;
  flex: 0 0 562px;
}

.body-container__recent-updates-section {
  padding-top: 5px;
  //padding-left: 20px;
  flex: 0 0 550px;
  //--------------------------------
  box-shadow: 0 2px 5px rgba(106, 104, 104, 0.15);
  border-radius: 3px;
  background-color: #ffffff;
  //--------------------------------
}

.body-container__header {
  height: 72px;
  padding-top: 20px;
}

.body-container__header-wrapper {
  @include flex-row-space-between();
  align-items: baseline;
}
//--------------------------------

.body-container {
  .content-container {}
}

.body-container__aside {}

.body-container__main {}

.body-container__header {}
//--------------------------------
